{{define "header"}}
<header class="header">
	<h1 class="header__title">Gubler</h1>
	<nav class="nav">
		<a class='nav__link nav__link--selected' href='/posts'>
			<i class='fas fa-comments nav__link__icon'></i>
			<p class='nav__link__text'>Posts</p>
		</a>
		<a class='nav__link' href='/about'>
			<i class='fas fa-info-circle nav__link__icon'></i>
			<p class='nav__link__text'>About</p>
		</a>
	</nav>
</header>
{{end}}